body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #09121b;
}

.sidebar{
    background-color: #09121b;
    position: fixed;
    margin-left: 300px;
    margin: auto auto auto 20px;
    z-index: 1;
    overflow-x: hidden;
}

.headers{
    margin: 0px;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 16px;
    color: #fff;
    background-color: #e48c85;
}

.headers a{
    color: #fff;
    letter-spacing: 2px;
}

.headers a:hover{
    color: #09121b;
    letter-spacing: 2px;
}

#pfp{
    width: 352px;
}

#nav{
    background-color: #fff;
    font-size: 18px;
}

.contact-content{
    padding: 2px 2px 2px 2px;
}

.main{
    flex: 1;
    overflow-x: scroll;
    min-width: 402px;
    background-color: #09121b;
    margin: 20px auto auto 400px;
}

.main-headers{
    margin: 0px;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 13px;
    color: #fff;
    background-color: #09121b;
}
 
.main-content{
    padding: 10px 2px 2px 20px;
    text-align: justify;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
}

.main-content a{
    color: #e48c85;
    letter-spacing: 2px;
}

.main-content a:hover{
    color: #85e48c;
    letter-spacing: 2px;
}

#footer{
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    margin: auto auto 6px 6px;
    position: fixed;
    bottom: 0;
}

li{
    margin: 0px 4px;
    width: 350px;
    display: block;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: #09121b;
}
 
a:hover{
    color: #8c85e4;
}
 
a:active{
    font-weight: bold;
}

iframe[src*=youtube] {
    //pointer-events: none;
    border: none;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 10px;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 10px;
}

.nav-menu {
    display: block;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: left;
    color: #e48c85;
    padding: 2px 2px;
    margin-bottom: 0px;
    transition: 0.5s;
    font-size: 15px;
    background: #09121b;
    height: 24px;
    overflow: hidden;
    transition: 0.6s;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    color: #09121b;
}

@media (min-width: 767px) {
    .main{ 
        width:auto;
        }
    }

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #09121b;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #e48c85;
    background: #09121b;
    letter-spacing: 2px;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #85e48c;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    height: 24px;
    color: #8c85e4;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}
