body { 
  background-color: #09121b; 
}

#header {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 6px;
}

.nav-menu {
  display: block;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #e48c85;
  padding: 2px 2px;
  margin-bottom: 1px;
  transition: 0.5s;
  font-size: 15px;
  background: #09121b;
  height: 56px;
  overflow: hidden;
  transition: 0.6s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
  }
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  display: block;
  color: #85e48c;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #8c85e4;
}
