body{
font-family: Arial, Helvetica, sans-serif;
background-color: #09121b;
}

#parent{
width: 900px;
}

#left-bar{
background-color: #fff;
float: left;
width: 175px;
margin: 20px;
position: fixed;
}

#pfp{
width: 175px;
}

#nav{
font-size: 18px;
}

li{
margin: 0px 4px;
width: 100px;
display: block;
float: left;
}

#main{
background-color: #09121b;
float: right;
width: 88%;
margin: 20px;
}

.webring{
margin-left: 2px;
margin-bottom: 2px;
}

.headers{
margin: 0px;
font-weight: normal;
letter-spacing: 2px;
font-size: 20px;
line-height: 13px;
color: #fff;
background-color: #e48c85;
}

.mainheaders{
margin: 0px;
font-weight: normal;
letter-spacing: 2px;
font-size: 20px;
line-height: 13px;
color: #fff;
background-color: #09121b;
}
 
.main-content{
padding: 0px 15px 15px 15px;
text-align: justify;
font-size: 16px;
color: #fff;
letter-spacing: 1px;
}

.nav-menu {
  display: block;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: left;
  color: #e48c85;
  padding: 2px 2px;
  margin-bottom: 0px;
  transition: 0.5s;
  font-size: 15px;
  background: #09121b;
  height: 20px;
  overflow: hidden;
  transition: 0.6s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  color: #09121b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #09121b;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #e48c85;
  background: #09121b;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #85e48c;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #8c85e4;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: e48c85;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #09121b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #e48c85;
  background-color: #09121b;
}

a{
text-decoration: none;
color: #09121b;
}
 
a:visited{
color: #8c85e4;
}
 
a:hover{
color: #8c85e4;
}
 
a:active{
font-weight: bold;
}
