<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,follow" />
<meta name="description" content="hi" />
<meta name="keywords" content="blog, programming, reverse-engineering" />
<meta name="author" content="xorsirenz">

<title>{{ .Title }}</title>

<link rel="icon" href="{{ "img/favicon.png" | relURL }}">

<link rel="stylesheet" href="{{ "vendor/boxicons/css/boxicons.min.css" | relURL }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
