
{{ define "main" }}
<article class="main">
    <h2 class="main-headers">11101011a&f- 'ʰᵒᵐᵉ</h2>
    <div class="main-content">
        <h2>Error 451: Unavailable due to legal reasons</h2>
        <p>Доступ к данному ресурсу ограничен в соответствии с законодательством Российской Федерации.</p> 
        <p>Список запрещённых ресурсов в Российской Федерации, а так же причины ограничения доступа вы можете найти 
        <a href="https://www.youtube.com/watch?v=lUfXCmgrIxw">здесь</a> и 
        <a href="https://www.youtube.com/watch?v=prv_4UpdNfY">здесь.</a>
        </p>
    </div>
</article>
{{ end }}
